@model IEnumerable<MVCBank.Models.Manager>
@{
    ViewBag.Title = "Managers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Managers</h2>

<table id ="managers" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Manager</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
            
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#managers").DataTable({
                ajax: {
                    url: "/api/managers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "fullName"
                    },
                    {
                        data: "role.name"
                    }
                ]
            });
        });
    </script>
}